.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 1;
  margin: 10px;
}

.column img {
  width: 100%;
  height: auto;
}


.custom-link {
  display: block;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.custom-link:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}